@import 'tailwindcss';

:root {
  /* --foreground: #171717;*/
  --color-dark: #0c0a09;
  --color-background: #292524;
  --color-primary: #ffedd5;

  --color-yellow: #fffb79;
  --color-brown: #242424;

  --color-red: #ff4c4c;

  --font-metamorphous: 'Metamorphous', georgia, serif;
  --font-garamond: 'EB Garamond', georgia, serif;
  --font-cinzel: 'Cinzel', georgia, serif;
}

@theme inline {
  --color-background: var(--color-background);
  --color-dark: var(--color-dark);
  --color-primary: var(--color-primary);
  --font-primary: var(--font-garamond);
  --color-light: var(--color-yellow);

  --color-red: var(--color-red);
}

/* layers */
@layer base {
  html {
    font-size: 16px; /* základ */
  }

  body {
    @apply font-serif leading-relaxed;
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1.1;
    @apply mb-6 mt-6;
  }

  h2 {
    /*@apply font-headlines;*/
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1.15;
    @apply my-4;
  }

  h3 {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
    line-height: 1.2;
    @apply my-3;
  }
  h4 {
    font-size: clamp(1.5rem, 2.1vw, 2.25rem);
    line-height: 1.2;
    @apply my-3;
  }

  p {
    font-size: 1rem;
    line-height: 1.75;
    @apply my-4;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: inherit;
  }
}
@layer components {
  .menu-item {
    @apply relative;
  }

  .menu-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 1px;
    height: 1rem;
    background-color: var(--color-yellow);
    transform: translateY(-50%);
  }

  .menu-item:last-child::after {
    display: none;
  }
  .form-container {
    @apply border rounded-sm p-4 my-4 transition-all duration-300;
  }
  .form {
    @apply [&>label]:block [&>label]:mb-1;
  }
  .form-input {
    &:focus-visible {
      outline: none;
      @apply border-2;
    }
    @apply w-full mb-4 border;
  }
  .form-textarea {
    &:focus-visible {
      outline: none;
      @apply border-2;
    }
    @apply w-full mb-4 border;
  }
}
body {
  background: var(--color-background);
  color: var(--color-brown);
  font-family: var(--font-garamond);
}
.quote {
  font-family: var(--font-luxurious-script);
}
