@import 'tailwindcss';
@config '../tailwind.config.js';

@import './styles/colors.css';
@import './styles/fonts.css';

@theme inline {
  --color-background: var(--color-background);
  --color-dark: var(--color-dark);
  --color-primary: var(--color-primary);
  --font-primary: var(--font-georgia);
  --font-headlines: var(--font-cinzel);
  --color-light: var(--color-yellow);

  --color-red: var(--color-red);
}

/* layers */
/* base */

@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-serif leading-relaxed;
  }

  h1 {
    font-size: clamp(2.1rem, 4vw, 3.2rem);
    line-height: 1.1;
    @apply mt-6 mb-4 font-headlines;
  }

  h2 {
    font-size: clamp(2rem, 3vw, 2.6rem);
    line-height: 1.15;
    @apply mt-6 mb-3 font-headlines;
  }

  h3 {
    font-size: clamp(1.6rem, 2.1vw, 2.1rem);
    line-height: 1.2;
    @apply mt-6 mb-3 font-headlines;
  }
  h3.mb0 {
    @apply mb-0;
  }
  h4 {
    font-size: clamp(1.4rem, 2vw, 1.9rem);
    line-height: 1.2;
    @apply mt-6 mb-3 font-headlines;
  }

  p {
    line-height: 1.75;
    @apply my-3 text-sm md:text-base;
  }
  p.mt0 {
    @apply mt-0;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: inherit;
  }
}
/*components*/

@layer components {
  .menu-item {
    @apply relative hidden md:inline
    after:content-['']
    after:absolute after:right-0 after:top-1/2
    after:h-4 after:w-px
    after:bg-light
    after:-translate-y-2/3
    last:after:hidden;
  }

  .form-container {
    @apply border rounded-sm p-4 my-4 transition-all duration-300;
  }
  .form {
    @apply [&>label]:block [&>label]:mb-1;
  }
  .form-input {
    &:focus-visible {
      outline: none;
      @apply border-2;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      -webkit-text-fill-color: inherit !important;
      transition: background-color 9999s ease-in-out 0s;
    }
    @apply w-full mb-4 border;
  }
  .form-textarea {
    &:focus-visible {
      outline: none;
      @apply border-2;
    }
    @apply w-full mb-4 border;
  }
}

/* GLOBAL */
body {
  background: var(--color-background);
  color: var(--color-brown);
  font-family: var(--font-georgia);
  font-family: var(--font-metamorphous);
}
blockquote {
  font-family: var(--font-great-vibes);
  font-size: 200%;
  line-height: 1;
  margin-block: 2rem;
  margin-inline: 6vw;
}
blockquote span {
  display: block;
  margin-top: 1rem;
  font-size: 80%;
  text-align: right;
}
